<html>
	<head>
		<title>Vezbe 4 - Zadatak 1</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="app.js" type="text/javascript"></script>
		<script src="mycontroller.js" type="text/javascript"></script>
	</head>
	<body ng-app='MyApp'>
		<div class="col-md-12" ng-controller="StudentController as studentCtrl">
			<!--INPUT FORM -->
			<div class="col-md-6">
				<h1>FORMA</h1>
				<span>
					<label>Ime: </label>
					<input type="text" ng-model="studentCtrl.student.ime"/>
				</span>
				<span>
					<label>Prezime: </label>
					<input type="text" ng-model="studentCtrl.student.prezime"/>
				</span>
				<span>
					<label>Fakultet: </label>
					<input type="text" ng-model="studentCtrl.student.fakultet"/>
				</span>
				<span>
					<label>Index: </label>
					<input type="number" ng-model="studentCtrl.student.index"/>
				</span>
				<span>
					<label>Prosek ocena: </label>
					<input type="number" ng-model="studentCtrl.student.prosek"/>
				</span>
				<span>
					<label>Godina upisa: </label>
					<input type="number" ng-model="studentCtrl.student.godinaUpisa"/>
				</span>
				<button ng-click="studentCtrl.dodajStudenta()">Dodaj studenta</button>
				<!-- BONUS - ZA DOMACI -->
			</div>

			<!--TABLE -->
			<div class="col-md-6">
				<h1>TABELA</h1>
				<table class="table">
					<tr>
						<td>Ime</td>
						<td>Fakultet</td>
						<td>Indeks</td>
						<td>Prosek</td>
						<td>Godina upisa</td>
					</tr>
					<tr>
						<td>{{studentCtrl.studentZaIspis.ime}}</td>
						<td>{{studentCtrl.studentZaIspis.fakultet}}</td>
						<td>{{studentCtrl.studentZaIspis.index}}</td>
						<td>{{studentCtrl.studentZaIspis.prosek}}</td>
						<td>{{studentCtrl.studentZaIspis.godinaUpisa}}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>